body {
    font-family: Arial;
    text-align: center;
    background: #111;
    color: white;
}

#array-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 400px;
    margin-top: 30px;
}

.bar {
    width: 30px;
    margin: 2px;
    background: cyan;
    transition: all 0.3s ease-in-out;
}

.bar.active {
    background: red;
}

.bar.sorted {
    background: limegreen;
}

.controls button {
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border: none;
    background: #00bcd4;
    color: black;
    font-weight: bold;
    transition: 0.2s;
}

.controls button:hover {
    background: #0097a7;
}

#explanation {
    margin-top: 20px;
    font-size: 18px;
    min-height: 30px;
}
